<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arabic Alphabet</title>
  </head>
  <body>
    <header>
      <h1 class="title">Lesson 1: The Arabic Alphabet</h1>
    </header>

    <div class="alphabet-container" id="alphabetContainer">
      <table class="alphabet-table">
        <tr>
          <td>
            <button (click)="playAudio('../assets/audio/jeem.mp3')">
              <img src="assets/images/jeem.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/thaa.mp3')">
              <img src="assets/images/thaa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/taa.mp3')">
              <img src="assets/images/taa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/baa.mp3')">
              <img src="assets/images/baa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/aleef.mp3')">
              <img src="assets/images/aleef.png" alt="" />
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="playAudio('../assets/audio/raa.mp3')">
              <img src="assets/images/raa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/thaal.mp3')">
              <img src="assets/images/thaal.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/daal.mp3')">
              <img src="assets/images/daal.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/khaa.mp3')">
              <img src="assets/images/khaa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/hhaa.mp3')">
              <img src="assets/images/hhaa.png" alt="" />
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="playAudio('../assets/audio/dhaad.mp3')">
              <img src="assets/images/dhaad.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/saad.mp3')">
              <img src="assets/images/saad.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/sheen.mp3')">
              <img src="assets/images/sheen.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/seen.mp3')">
              <img src="assets/images/seen.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/zaa.mp3')">
              <img src="assets/images/zaa.png" alt="" />
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="playAudio('../assets/audio/faa.mp3')">
              <img src="assets/images/faa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/ghaain.mp3')">
              <img src="assets/images/ghaain.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/aain.mp3')">
              <img src="assets/images/aain.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/thau.mp3')">
              <img src="assets/images/thau.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/tau.mp3')">
              <img src="assets/images/tau.png" alt="" />
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="playAudio('../assets/audio/noon.mp3')">
              <img src="assets/images/noon.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/meem.mp3')">
              <img src="assets/images/meem.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/laam.mp3')">
              <img src="assets/images/laam.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/kaaf.mp3')">
              <img src="assets/images/kaaf.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/qaaf.mp3')">
              <img src="assets/images/qaaf.png" alt="" />
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="playAudio('../assets/audio/yaa.mp3')">
              <img src="assets/images/yaa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/hamzaah.mp3')">
              <img src="assets/images/hamzah.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/haa.mp3')">
              <img src="assets/images/haa.png" alt="" />
            </button>
          </td>
          <td>
            <button (click)="playAudio('../assets/audio/waw.mp3')">
              <img src="assets/images/waw.png" alt="" />
            </button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
